<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BlazorRogue</title>
  <base href="/" />
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
  <link href="BlazorRogue.styles.css" rel="stylesheet" />
  <link href="css/site.css" rel="stylesheet" />
  <link href="css/map.css" rel="stylesheet" />
  <link href="css/animations.css" rel="stylesheet" />
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
  <Routes @rendermode="InteractiveServer" />

  <script src="_framework/blazor.web.js"></script>
  <script src="blazorrogue.js"></script>
</body>
</html>
