.main_window {
  display: grid;
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: gray;
  grid-template-columns: 120px auto;
  grid-gap: 0;
}

.left_menu {
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.map {
  display: grid;
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  background-color: black;
  grid-gap: 0px;
}

.cell {
  display: flex;
  position: relative;
  background-size: cover;
  grid-row: span 1;
  grid-column: span 1;
}

.tile {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.decoration {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-size: cover;
  justify-content: center;
}

.decoration-ascii {
  background-color: black;
}

.outoffov {
  filter: brightness(50%);
}

.lit {
  filter: brightness(120%);
}

.decinfront {
  z-index: 2;
}

.decbehind {
  z-index: 1;
}

.interact_button {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: transparent;
  border: none;
  color: transparent;
  z-index: 2;
}

.toggle_button {
  background-color: #4CAF50;
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 120px;
  margin-bottom: 5px;
}

/* Tooltips */

div[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  color: black;
  background-color: burlywood;
  border-radius: 5px;
  font-size: 0.9em;
  padding: 0.1em;
  bottom: 100%;
  left: 0;
  white-space: nowrap;
  visibility: hidden;
}

div[data-tool-tip]:hover::after {
  visibility: visible;
}
