.map {
    position: relative;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
}

.tile {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
}

.outoffov {
    opacity: 0.6;
}

.decoration {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
}

.decinfront {
    z-index: 2;
}

.decbehind {
    z-index: 1;
}

@keyframes templar {
    0% { background-image: url('../img/uf_heroes/templar_1.png'); }
    25% { background-image: url('../img/uf_heroes/templar_2.png'); }
    50% { background-image: url('../img/uf_heroes/templar_3.png');}
    75% { background-image: url('../img/uf_heroes/templar_4.png'); }
    100% { background-image: url('../img/uf_heroes/templar_1.png'); }
}

.animated_templar {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: cover;
    z-index: 1;
    animation-name: templar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.interact_button {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background:transparent; 
    border:none; 
    color:transparent;
    z-index: 2;
}

.row {
    padding: 0;
    margin: 0;
    height: 48px;
    white-space: nowrap;
    width: max-content;
}

.cell {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    white-space: normal;
}