@page "/indoor"

<div class="map">
    <!-- map is rendered row by row, top to bottom (TODO: Means y-axis points downwards. Standard? -->
    @for (int y = 0; y < positions.GetLength(1); y++)
    {
        <div id="row_@y" class="row">
        @for (int x = 0; x < positions.GetLength(0); x++)
        {
            string imgFileName = positions[x,y].ImageName + ".png";            
            <div id="@x,@y" class="tile">
                <div class="map_img" style="background-image: url('img/uf_terrain/@imgFileName');" alt="@x,@y"> </div>
            </div>
        }
        </div>
    }
</div>

@functions {
    MapPosition[,] positions = CreateMap(20, 12);

    // Create map
    private static MapPosition[,] CreateMap(int width, int height)
    {
        var dg = new DungeonGenerator(width, height);
        dg.Generate();
        return dg.Map;
    }
}