<div class="animated_templar" style="" alt="playercomponent">@PlayerXY</div>

@functions {
    [Parameter]
    private Map Map { get; set; }

    private string PlayerXY { 
        get {
            return $"({Map.Player.x},{Map.Player.y}";
        }
    }
}